<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Ihr where2help Account ist jetzt freigeschalten!</h2>
    <p><%= link_to 'where2help', root_url %></p>
  </body>
</html>
