<%= content_for(:teaser, t(".teaser", title: truncate(@event.title))) %>

<h2><%= t('.greeting', name: @user.first_name) %></h2>
<p>
  <%= t('.content', title: @event.title, ngo_name: @event.ngo.name) %>
</p>

<% content_for(:footer) do %>
  <p><%= link_to t("application.change_notification_settings_hint"), edit_users_notifications_url %></p>
<% end %>
