<%= content_for(:teaser, t(".teaser", title: @shift.event.title)) %>

<h2><%= t('.greeting', name: @user.first_name) %></h2>
<p>
  <%=
  t(
    '.content',
    title: @shift.event.title, 
    date: I18n.localize(@shift.starts_at, format:'%d. %b %Y'),
    time: I18n.localize(@shift.starts_at, format:'%H:%M'),
    ngo_name: @shift.event.ngo.name
  )		 
  %>
</p>
