h2.events-date-header {
  font-size: 33px;
  text-align: center;

  & + a.list-group-item {
    border-top-color: transparent;
  }
}

.event-header {
  @extend .page-header;
  .calendar-icon {
    font-size: 1em;
  }
  @media (max-width: $screen-xs-max) {
    h2 { font-size: 1.5em; }
    .calendar-icon { font-size: 1.5em; }
  }
}

.event-shifts-list {
  margin-top: 2em;
  h4 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .calendar-icon {
    margin-top: -0.5em
  }
}

.twitter-typeahead {
  display: block !important;

  .tt-hint, .tt-input, .tt-menu {
    width: 100%;
  }

  .tt-menu {
    @extend .selecter, .multiple;
  }
  .tt-dataset {
    @extend .selecter-options;
  }

  .tt-suggestion {
    @extend .selecter-item;
  }

  .district {
    color: $mediumgray-dark;
  }
}
