.event-shifts-list {
  h4 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.twitter-typeahead {
  display: block !important;

  .tt-hint, .tt-input, .tt-menu {
    width: 100%;
  }

  .tt-menu {
    @extend .selecter, .multiple;
  }
  .tt-dataset {
    @extend .selecter-options;
  }

  .tt-suggestion {
    @extend .selecter-item;
  }
}
