.home-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.home-section {
  @extend .row;

  padding-top: 30px;
  padding-bottom: 30px;

  @media(min-width: $screen-sm-min) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media(min-width: $screen-md-min) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  @media(min-width: $screen-lg-min) {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  h2 {
    font-size: 26px;

    @media(min-width: $screen-sm-min) {
      font-size: 35px;
    }
  }
}

.home-logo {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: $screen-sm-min) {
    margin-top: 50px;
  }
}

.home-section-bg-light {
  background-color: $gray-lighter;
}

.home-section-bg-image {
  color: #fff;
}

.home-section-centered {
  text-align: center;
}

.home-signup-form {
  .help-block {
    color: rgba(255,255,255,0.5);
  }
  input.form-control {
    background-color: rgba(255,255,255,0.3);
    border: 1px white solid;
  }

  .btn-signup {
    padding-left: 60px;
    padding-right: 60px;
  }

  .btn-already-registered, .btn-signup {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.home-container {
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.home-teaser {
  margin-bottom: 75px;
  &:last-child {
    margin-bottom: 0;
  }

  font-size: 16px;

  h2 {
    font-size: 24px;
  }
}


#home_help_now_header {
  text-align: center;
  margin-bottom: 30px;
}

.home-teaser-img {
  margin-left: auto;
  margin-right: auto;
}

.home-cta-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .btn-primary {
    font-size: 150%;
  }

  @media(min-width: $screen-sm-min) {
    margin-bottom: 100px;
  }
}

.home-desc {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    line-height: 150%;
    font-size: 28px;

    @media(min-width: $screen-sm-min) {
      font-size: 34px;
    }
  }
}

.teaser-img-container {
  max-width: 80px;

  @media(min-width: $screen-sm-min) {
    max-width: 150px;
  }
}

.registration-img-container {
  margin-bottom: 10px;
}

.ngo-section {
  ul {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}