.home-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.btn-register {
  @extend .btn, .btn-primary, .btn-lg, .btn-block;
}

.btn-signup {
  @extend .btn, .btn-block;
}

.home-row {
  @extend .row;
  color: $white;
}

.home-col {
  @extend .col-xs-12;
  padding-top: 2.5em;
  .fa-ul {
    display: table;
    margin: 0 auto;
    @media (max-width: $screen-xs-min) {
      padding-left: 1.5em;
    }
  }
}
