.home-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.btn-register {
  @extend .btn, .btn-primary, .btn-lg, .btn-block;
}

.btn-signup {
  @extend .btn, .btn-block;
}

.home-bg-row, .home-row {
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top:0;
    text-align: center;
  }
}

.home-row {
  @extend .row;
  color: $white;
}

.home-register-row {
  @extend .row;

  font-size: 24px;
  text-align: center;

  input[type="submit"] {
    width: auto;
    font-size: 24px;
    display: inline-block;
  }

  .confirmation-missing {
    font-size: 14px;
  }
}

.home-padded-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.home-bg-row {
  @extend .row, .home-padded-container;
  background-color: $white;
}

.teaser-container {
  h2 {
    max-width: 80%;
    text-align: left;
    font-weight: normal;
  }
}

.teaser-img {
  margin-left: auto;
  margin-right: auto;
}

.cta-container {
  text-align: center;
  padding-bottom: 75px;
}

.btn-cta {
  display: inline;
  font-size: 32px;
  margin-bottom: 75px;
}

.ngo-section {
  text-align: center;

  div {
    margin-bottom: 24px;
    margin-top: 24px;

    .btn-cta {
      font-size: 24px;
    }
  }
}

.register-container {
  div.img-container {
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}

.home-col {
  @extend .col-xs-12;
  padding-top: 2.5em;
  .fa-ul {
    display: table;
    margin: 0 auto;
    @media (max-width: $screen-xs-min) {
      padding-left: 1.5em;
    }
  }
}

.home-bounded-container {
  @extend .container-based-max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home-desc-col {
  @extend .home-col;

  text-align: center;

  h1 {
    @extend .container-based-max-width;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
}

body {
  margin-bottom: 0;
}

footer {
  position: relative;
  .footer-content {
    margin-top: 0;
    .footer-info {
      margin-top: 14px;
    }
  }
}
