<%= render 'filter_form' %>
<div id="list-wrapper">
  <% if @needs.empty? %>
    <%= render 'shared/sorry_message', message: t('.sorry') %>
  <% else %>
    <%= render 'list', needs: @needs %>
  <% end %>
</div>
