<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render @user %>

    <%= link_to "Account ändern oder löschen", edit_user_registration_path, class: "btn btn-warning" %>
  </div>
</div>
