div.map {
  height: 300px;
  margin-top: 1em;
}

.calendar-icon {
  @extend .fa-stack, .fa-2x;
  .calendar-icon-txt {
    @extend .fa-stack-1x;
    margin-top: 0em;
    font-size: .5em;
    &:nth-of-type(2) {
      margin-top: 1em;
    }
  }
}

.detail-row {
  margin-bottom: 1em;
}

.pagination-btn {
  padding-top: 30px;
}

.event-btn {
  @extend .btn, .btn-block;
  margin-bottom: 0.5em;
}

.ngo-event-item {
  @extend .list-group-item;
  background: rgba($mediumgray-dark, 0.5);
  &.-published {
    background: rgba($grass-light, 0.5);
  }
}

.massive-font{
font-size: 18px;
text-align: center;
font-weight: bold;
}

.progress{
height: 26px;
text-align: center;
}

.progress-bar {
  padding-top: 4px;
}
