div.map {
  height: 300px;
  margin-top: 1em;
}

.calendar-icon {
  @extend .fa-stack, .fa-2x;
  .calendar-icon-txt {
    @extend .fa-stack-1x;
    margin-top: 0em;
    font-size: .5em;
    &:nth-of-type(2) {
      margin-top: 1em;
    }
  }
}

.detail-row {
  margin-bottom: 1em;
}

.pagination-btn {
  padding-top: 30px;
}

.event-btn {
  @extend .btn, .btn-block;
  margin-bottom: 0.5em;
}

.ngo-event-item {
  @extend .list-group-item;
  &.-invisible {
    .row { color: $mediumgray-dark; }
  }
  .ngo-event-item-state {
    margin-bottom: 0.5em;
  }
}

.delete-acount-btn {
  @extend .btn, .btn-link;
  color: $grapefruit-dark;
}

.progress {
  height: 26px;
}

.progress-bar {
  height: 26px;
  padding-top: 4px;
  overflow: hidden;

  &.-offset {
    @extend .progress-bar-striped, .progress-bar-info;
  }
  &.-progress {
    @extend .progress-bar-striped, .progress-bar-success;
  }
  &.-rest {
    @extend .progress-bar-striped;
    background-color: $darkgray-light;
  }
  &.-full {
    @extend .progress-bar-striped, .progress-bar-warning;
  }
}
