html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 180px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $black-nav;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: none;
  }

  .footer-content {
    position: relative;
    @extend .container;
    margin-top: 1em;

    .footer-info {
      @extend .col-sm-12;
      margin-bottom: 1em;
      text-align: right;
      @media (min-width: $screen-md-min) {
        text-align: center;
      }
    }
    .footer-separator {
      @extend .hidden-xs;
      @extend .hidden-sm;
    }
    .footer-txt {
      @media (max-width: $screen-md-min) {
        display: block;
      }
    }
  }
}

.navbar .nav-help-now {
  margin-top: 8px;
}

.navbar-brand {
  img {
    margin-top: -0.5em;
    height: 2em;
  }
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $aqua-dark;
}

// fixes for IE
.img-responsive {
  width: 100% \9;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &[src$="svg"],
    .thumbnail > img[src$="svg"],
    .thumbnail a > img[src$="svg"],
    .carousel-inner > .item > img[src$="svg"],
    .carousel-inner > .item > a > img[src$="svg"] { width: 100%; }
  }
}

.container-based-max-width {
  @media screen and (min-width: 768px) {
    max-width: 750px;
  }

  @media screen and (min-width: 992px){
    max-width: 990px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }
}

.relative-footer {
  margin-bottom: 0;

  .navbar {
    .navbar-brand {
      -webkit-transition: all 2s;
      transition: all 2s;
      max-width: 0;
      opacity: 0;
    }

    .passed-header {
      max-width: 100%;
      opacity: 1;
    }
  }

  footer {
    position: relative;
    .footer-content {
      margin-top: 0;
      .footer-info {
        margin-top: 14px;
      }
    }
  }
}