html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 180px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $black-nav;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: none;
  }

  .footer-content {
    position: relative;
    @extend .container;
    margin-top: 1em;

    .footer-info {
      @extend .col-sm-12;
      text-align: center;
      margin-bottom: 1em;
      @media (max-width: $screen-xs-min) {
        text-align: right;
      }
    }
    .footer-separator {
      @extend .hidden-xs;
    }
    .footer-txt {
      @media (max-width: $screen-xs-min) {
        display: block;
      }
    }
  }
}

.navbar-brand {
  img {
    margin-top: -0.5em;
    height: 2em;
  }
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $aqua-dark;
}

// fixes for IE
.img-responsive {
  width: 100% \9;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &[src$="svg"],
    .thumbnail > img[src$="svg"],
    .thumbnail a > img[src$="svg"],
    .carousel-inner > .item > img[src$="svg"],
    .carousel-inner > .item > a > img[src$="svg"] { width: 100%; }
  }
}
