html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  img {
    margin-top: -0.5em;
    height: 2em;
  }
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $aqua-dark;
}

// fixes for IE
.img-responsive {
  width: 100% \9;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &[src$="svg"],
    .thumbnail > img[src$="svg"],
    .thumbnail a > img[src$="svg"],
    .carousel-inner > .item > img[src$="svg"],
    .carousel-inner > .item > a > img[src$="svg"] { width: 100%; }
  }
}
