html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  img {
    margin-top: -0.5em;
    height: 2em;
  }
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $aqua-dark;
}
