a {
  text-decoration: underline;
}

a.btn,
a.cc-btn {
  text-decoration: none;
}

footer {
  color: #ffffff;
}

nav a,
footer a {
  color: #ffffff !important;
  font-weight: 600;
  text-decoration: none;
}
