a {
  text-decoration: underline;
}

a.btn,
a.cc-btn {
  text-decoration: none;
}

footer {
  color: #ffffff;
}

nav a,
footer a {
  color: #ffffff !important;
  font-weight: 600;
  text-decoration: none;
}

.formtastic input.form-control {
  border: 1px solid #8f8f8f;
}

.alert.alert-warning {
  color: #44361d;
}

.alert.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #44361d;
}
