<% @events.each do |event| %>
  <% if @last_event_date != event.starts_at.to_date %>
    <h2 class="events-date-header">
      <%= format_event_date_group event.starts_at %>
    </h2>
  <% end %>

  <%= render(event) %>
  <% @last_event_date = event.starts_at.to_date %>
<% end %>
