<% @events.each do |event| %>
  <% if @last_event_date != event.starts_at.to_date %>
    <h2><%= l event.starts_at.to_date %></h2>
  <% end %>

  <%= render(event) %>
  <% @last_event_date = event.starts_at.to_date %>
<% end %>
