<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= t('.greeting', name: @ngo.name) %></h2>
    <p><%= t('.content') %></p>
    <p><%= link_to t('.link'), new_ngo_session_url %></p>
  </body>
</html>
