<%= link_to schedule_ongoing, class: 'list-group-item' do %>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <strong><%= schedule_ongoing.title %></strong><br>
      <span><%= schedule_ongoing.address %></span>
    </div>
  </div>
<% end %>
