<div class="row">
  <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-behavior="shift-container">
    <%= render(@shifts) || render('empty_message') %>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center pagination-btn">
      <%= load_more_shifts_btn @shifts %>
    </div>
  </div>
</div>
