<% @title = t('application.barrier_free') %>

<div class="pages-static">
  <section class="pages-static-section">
    <h1 class="pages-title h2"><i class="fas fa-gavel" aria-hidden="true"></i> <%= t('application.barrier_free') %></h1>

    <%= render_markdown t('pages.barrier_free.body') %>
  </div>
</div>
