<div class="jumbotron text-center">
  <h1>Landinpage</h1>
  <p>So awesome, you should all sign up</p>
  <p>
    <%= link_to t('.sign_up_user'), new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to t('.sign_up_ngo'), new_ngo_registration_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
