<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= t('.content') %></h2>
    <p>
      Name: <%= @ngo.name %><br>
      E-Mail: <%= @ngo.email %><br>
    </p>
    <p><%= link_to @ngo.name, '#' %></p>
  </body>
</html>
