$where2help_blue: #6ec9c6;
$where2help_dark_blue: #102631;
$where2help_light_blue: #9bd9d6;
$where2help_gray: #7192a4;
$where2help_light_gray: #c6dae4;
$where2help_yellow: #f3efe0;

// tmp working colors
$white: #fff;
$black_basic: #222;
$black_light: #999;
$black_border: #080808;
$black_dark: #000;

$blue-accent: #539795;
$gray-accent: #b3b3b3;

$gray-light: #eeeeee;
