<!DOCTYPE html>
<!-- TODO: Proper text in German. -->
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We need you at <%= @need.location %>, kind soul!</h1>
    <p>
      <%= @need.volunteers_needed %> <%= @need.category %> are needed.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
