// TODO:
// - add icons
// - block fill full column

#calendar {

  p, ol, ul, td, .fc-event {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

  .fc-event {
    border-color: $blue_dark;
    background-color: $blue_dark;
  }

  .fc-event.need-fulfilled {
    border-color: $gray_light;
    background-color: $gray_light;
    color: $white;
  }

  .fc-today {
    background-color: $where2help_yellow;
  }

  // .fc-button { // copied from bootstrap
  //   // btn-default
  //   color: #333;
  //   background-color: #fff;
  //   border-color: #ccc;
  //   // btn
  //   display: inline-block;
  //   padding: 6px 12px;
  //   margin-bottom: 0;
  //   font-size: 14px;
  //   font-weight: 400;
  //   line-height: 1.42857143;
  //   text-align: center;
  //   white-space: nowrap;
  //   vertical-align: middle;
  //   -ms-touch-action: manipulation;
  //   touch-action: manipulation;
  //   cursor: pointer;
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  //   background-image: none;
  //   border: 1px solid transparent;
  //   border-radius: 4px;
  // }
}
