.go-back {
  i {
    font-size: 16px;
  }
  font-size: 12px;
}

.volunteering-info {
}

.btn-volunteering {
  color: $gray_light;
  background-color: $blue_dark;
  border-color: $gray_light;
  max-width: 300px;
  margin: auto;

  &:hover {
    background-color: lighten($gray_light, 10%);
  }

}

.voluntering-description {
}
