// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form#filter-form {
  margin-bottom: 40px;
}

div.stream-button {
  .btn-volunteering {
    &.-destroy {
      display: none;
    }
  }
}
div.list-item {
  padding-top: 10px;
  padding-bottom: 10px;

  &:after {
    content : "";
    padding-top: 20px;
    width: 75%;
    margin: auto;
    border-bottom:1px solid lighten($gray_light, 40%);
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .calendar-icon {
    display: block;
    background: $gray_main;
    color: $white;
    text-transform: uppercase;
    padding: 0.75em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: darken($gray_main, 10%);
    }
  }
}
