// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form#filter-form {
  margin-bottom: 40px;
}

// h2.need-category {
//   margin-top: 0;
// }
//
div.list-item {
  padding-top: 10px;
  padding-bottom: 10px;

  &:after {
    content : "";
    padding-top: 20px;
    width: 75%;
    margin: auto;
    border-bottom:1px solid $gray-light;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .btn-volunteering {
    color: $white;
    background-color: $where2help_blue;
    border-color: $blue-accent;

    &:hover {
      background-color: $blue-accent;
    }

    .button-info {
      color: $gray-light;
    }

    .button-action {
      margin-top: 0.5em;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .btn-active {
    background-color: $where2help_light_blue;
  }
}
