<span class="calendar-icon">
  <i class="fa fa-calendar-o fa-stack-2x"></i>
  <span class="calendar-icon-txt">
    <%= I18n.localize(date, format:'%b') %>
  </span>
  <span class="calendar-icon-txt">
    <%= date.day %>
  </span>
</span>
