<span class="calendar-icon">
  <i class="fa fa-calendar-o fa-stack-2x"></i>
  <strong class="calendar-icon-txt">
    <%= I18n.localize(date, format:'%b') %>
  </strong>
  <strong class="calendar-icon-txt">
    <%= date.day %>
  </strong>
</span>
