<footer>
  <div class="footer-content">
    <div class="footer-info text-center">
      <span class="text-muted">Made with <i class="fa fa-heart"></i> in Vienna</span>
      <span>&#124;</span>
      <%= link_to t('application.terms_and_conditions'), terms_and_conditions_path %>
      <span>&#124;</span>
      <%= mail_to 'contact@where2help.wien' %>
      <% unless current_user || current_ngo %>
        <span>&#124;</span>
        <%= render 'language_switcher' %>
      <% end %>
    </div>
  </div>
</footer>
