<li>
  <%= link_to calendar_ngos_needs_path do %>
    <i class="fa fa-calendar-o fa-fw"></i> <%= t '.calendar' %>
  <% end %>
</li>
<li>
  <%= link_to '#' do %>
    <i class="fa fa-child fa-fw"></i> <%= t '.needs' %>
  <% end %>
</li>
